/* 적용할 스타일을 담은 CSS 파일 (예: custom-styles.css) */

.custom-choice-box .menu-item:focused {
    -fx-background-color: #CEF6E3;
}

.custom-choice-box .menu-item > .label {
    -fx-text-fill: #6b0404;
}

.custom-choice-box .menu-item:focused > .label {
    -fx-text-fill: white;
}

.custom-choice-box .arrow {
    -fx-background-color: white;
    -fx-translate-y: 0;
}
