.list-cell {

    -fx-background-color: #FEE0AE;


    -fx-border-color: #FFA742;


    -fx-border-width: 0 0 1 0;
}

.list-cell:hover {
    -fx-background-color: #add8e6; /* 마우스 호버시 배경색 변경 */
}

/*body {

  background: url('@../../../img/Background.jpg') center center fixed;

  background-size: cover;


  background-attachment: fixed;

-color: #f0f0f0;


  color: #333;
}*/

.root_1 {
    -fx-background-image: url('@../../../img/Back.jpg');
    -fx-background-size: contain;

}
