/* 전체 다이얼로그 스타일 */
.dialog-pane, .custom-dialog .dialog-pane {
    -fx-background-color: #FEEFF2; /* 다이얼로그 전체 배경 색상 */
    -fx-font-size: 13px; /* 헤더 텍스트의 크기를 조정 */
    -fx-text-fill: #6b0404; /* 헤더 텍스트의 색상을 설정 */
    -fx-graphic: null; /* 물음표 아이콘을 null로 설정하여 숨깁니다. */
}

/* 다이얼로그 제목 부분 스타일 */
.dialog-pane .header-panel {
    -fx-background-image: url('@../../../img/DeleteBack.png');
}

/* 다이얼로그 내용 부분 스타일 */
.dialog-pane .content {
    -fx-background-color: #FEEFF2; /* 다이얼로그 내용 부분 배경 색상 */
    -fx-text-fill: #6b0404; /* 다이얼로그 내용 텍스트 색상 */
}

/* 다이얼로그 버튼 스타일 */
.dialog-pane .button, .custom-dialog .button {
    -fx-background-color:  #f8d8ca; /* 다이얼로그 버튼 배경 색상 */
    -fx-text-fill: #6b0404; /* 다이얼로그 버튼 텍스트 색상 */
    -fx-background-radius: 5; /* 버튼의 모서리를 둥글게 만듭니다. */
    -fx-border-color: #c98888; /* 버튼의 테두리 색상을 변경합니다. */
    -fx-border-radius: 5; /* 테두리의 모서리를 둥글게 만듭니다. */
}

.dialog-pane .button:hover, .custom-dialog .button:hover {
    -fx-background-color: #c98888; /* 다이얼로그 버튼 호버 시 배경 색상 */
}

.dialog-pane .button:pressed, .custom-dialog .button:pressed {
    -fx-background-color: #c98888; /* 다이얼로그 버튼 누를 때 배경 색상 */
}

/* TextInputDialog의 TextField 스타일 */
.text-input-dialog .text-field {
    -fx-border-color: #c98888; /* 텍스트 필드의 테두리 색상 설정 */
    -fx-border-radius: 5; /* 텍스트 필드의 테두리 모서리를 둥글게 만듭니다. */
    -fx-border-width: 3;
}

/* ListView의 셀 간격 조절 */
.list-view {
    -fx-cell-size: 40px; /* 셀 간격 조절 */
}

/* ListView의 칸 사이의 색상을 변경 */
.list-cell {
    -fx-background-color: #FFF2E6;
    -fx-border-color:  #CC9966; /* 테두리 색상 지정 */
    -fx-border-width: 0 0 1 0; /* 테두리 두께 지정 (top, right, bottom, left) */
    -fx-font-size: 15px; /* 텍스트 크기 조절 */
    -fx-font-family: "NanumGothic"; /* 한국어 폰트 패밀리 설정 */
    -fx-font-family: "Arial"; /* 폰트 패밀리 설정 */
    -fx-text-fill: #6b0404; /* 폰트 색상 설정 */
}
/* 선택된 셀의 색상 및 폰트 변경 */
.list-view .list-cell:selected {
    -fx-background-color: #c98888; /* 선택된 셀의 배경색 변경 */
    -fx-text-fill: white; /* 선택된 셀의 글자색 변경 */
}

/* 마우스를 갖다 대었을 때의 효과 */
.list-cell:hover {
    -fx-background-color: #e8c5c5; /* 마우스 호버시 배경색 변경 */
    -fx-text-fill: black; /* 마우스 호버 시 글자색 변경 */
}
