.inner_pane{
    -fx-background-color:  #D4F4FA;
    -fx-background-radius: 20 20 20 20

}

.root_1 {
    -fx-background-image: url('CircleMoon.jpg');
    -fx-background-size: contain;

}

.root_2 {
    -fx-background-image: url('TodoTimerTaskBackGrounImg.png');
    -fx-background-size: contain;

}


/* 버튼의 일반 상태에 대한 스타일링 */
.button {
    -fx-background-radius: 15px; /* 둥근 모서리 설정 */
    -fx-background-color:
        rgba(0,0,0,0.08), /* 외부 그림자 색상 */
        linear-gradient(#9a9a9a, #909090), /* 버튼 배경의 그라데이션 색상 */
        linear-gradient(#DEB4FF 0%, #CCA2FF 50%, #BA90F6 51%, #A87EE4 100%); /* 수정된 배경 색상 */

    -fx-background-insets: 0 0 -1 0,0,1; /* 배경 여백 설정 */
/*
    -fx-text-fill: #242d35; */
/* 텍스트 색상 설정 *//*

    -fx-font-size: 14px; /* 폰트 크기 설정 */
}

/* 버튼에 호버 효과가 적용된 상태에 대한 스타일링 */
.button:hover {
    -fx-background-radius: 15px; /* 둥근 모서리 설정 */
    -fx-background-color:
        rgba(0,0,0,0.08), /* 외부 그림자 색상 */
        linear-gradient(#5a61af, #51536d), /* 호버 효과의 그라데이션 색상 */
        linear-gradient(#DEB4FF 0%,#cee6fb 10%, #a5d3fb 50%, #88c6fb 51%, #d5faff 100%); /* 수정된 호버 효과의 배경 색상 */

    -fx-background-insets: 0 0 -1 0,0,1; /* 배경 여백 설정 */
/*
    -fx-text-fill: #242d35; */
/* 텍스트 색상 설정 *//*

    -fx-font-size: 14px; /* 폰트 크기 설정 */
}


/* Example.css */

.choice-box {
    -fx-background-color: #070D1B;
    -fx-mark-color: orange; /* 화살표 색상 */
    -fx-background-radius: 5; /* 모서리 반지름 값 */
}



